.bx--data-table-v2-container {
    width: 100%;
    min-width: 31.25rem;
    overflow-x: auto;
    padding-top: .125rem
}

.bx--data-table-v2 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border-bottom: 1px solid #dfe3e6
}

.bx--data-table-v2 thead {
    font-size: 0.875rem;
    background-color: #f4f7fb;
    font-weight: 700
}

.bx--data-table-v2 tbody {
    font-size: 0.875rem;
    background-color: #fff
}

.bx--data-table-v2 tr {
    height: 3rem
}

.bx--data-table-v2 tr:hover td {
    background-color: rgba(85, 150, 230, 0.1);
    border-top: 1px solid #3d70b2;
    border-bottom: 1px solid #3d70b2
}

.bx--data-table-v2 tr:hover td:first-of-type {
    border-left: 1px solid #3d70b2
}

.bx--data-table-v2 tr:hover td:last-of-type {
    border-right: 1px solid #3d70b2
}

.bx--data-table-v2 tr:hover .bx--overflow-menu {
    opacity: 1
}

.bx--data-table-v2 th {
    border-top: 1px solid #dfe3e6
}

.bx--data-table-v2 th, .bx--data-table-v2 td {
    font-size: 0.875rem;
    border-top: 1px solid #dfe3e6;
    padding-left: .75rem;
    vertical-align: middle;
    text-align: left;
    color: #152935
}

.bx--data-table-v2 th:first-of-type, .bx--data-table-v2 td:first-of-type {
    padding-left: 1.5rem;
    border-left: 1px solid #dfe3e6
}

.bx--data-table-v2 th:last-of-type, .bx--data-table-v2 td:last-of-type {
    padding-right: 1.5rem;
    border-right: 1px solid #dfe3e6
}

.bx--data-table-v2 .bx--checkbox-label {
    padding-left: 1.75rem
}

.bx--data-table-v2 .bx--overflow-menu {
    opacity: 0
}

.bx--data-table-v2 .bx--overflow-menu:focus {
    outline: 0;
    opacity: 1;
    box-shadow: none
}

.bx--data-table-v2 .bx--overflow-menu:focus .bx--overflow-menu__icon {
    box-shadow: inset 0px 0px 0px 1px #3d70b2
}

.bx--data-table-v2 .bx--overflow-menu__icon {
    transform: rotate(90deg)
}

.bx--data-table-v2-header {
    margin-bottom: .5rem;
    color: #152935
}

.bx--data-table-v2--zebra tbody tr:nth-child(even) {
    background-color: #f4f7fb
}

.bx--data-table-v2--no-border tr:last-of-type td {
    border-bottom-color: transparent
}

.bx--data-table-v2--no-border th:first-of-type, .bx--data-table-v2--no-border td:first-of-type {
    border-left-color: transparent
}

.bx--data-table-v2--no-border th:last-of-type, .bx--data-table-v2--no-border td:last-of-type {
    border-right-color: #dfe3e6
}

.bx--data-table-v2--compact tbody tr {
    height: 1.5rem
}

.bx--data-table-v2--short tbody tr {
    height: 2rem
}

.bx--data-table-v2--tall tbody tr {
    height: 4rem
}

.bx--data-table-v2--static {
    width: auto
}

.bx--data-table-v2--zebra tbody tr.bx--data-table-v2--selected, tbody tr.bx--data-table-v2--selected {
    background-color: rgba(85, 150, 230, 0.1)
}

tr.bx--expandable-row-v2.bx--expandable-row--hidden-v2 {
    display: none
}

tr.bx--expandable-row-v2>td:first-of-type {
    position: relative
}

tr.bx--expandable-row-v2>td:first-of-type:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: #3d70b2
}

tr.bx--expandable-row-v2+tr[data-child-row] td {
    border-top: 0;
    padding-bottom: .5rem
}

tr.bx--expandable-row-v2:hover>td {
    background-color: rgba(85, 150, 230, 0.1)
}

tr.bx--expandable-row-v2:hover>td:first-of-type {
    border-left: 1px solid transparent
}

tr.bx--expandable-row-v2:hover>td:last-of-type {
    border-right: 1px solid #3d70b2
}

tr.bx--expandable-row-v2:hover[data-parent-row]>td {
    border-bottom: 0
}

tr.bx--expandable-row-v2:hover+tr[data-child-row]>td {
    background-color: rgba(85, 150, 230, 0.1);
    border-bottom: 1px solid #3d70b2;
    border-right: 1px solid #3d70b2
}

tr.bx--expandable-row--hover-v2>td {
    background-color: rgba(85, 150, 230, 0.1);
    border-top: 1px solid #3d70b2
}

tr.bx--expandable-row--hover-v2>td:last-of-type {
    border-right: 1px solid #3d70b2
}

.bx--table-expand-v2[data-previous-value='collapsed'] .bx--table-expand-v2__svg {
    transform: rotate(90deg);
    transition: transform 200ms cubic-bezier(0.5, 0, 0.1, 1)
}

.bx--table-expand-v2__button {
    font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    display: inline-block;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    padding: 0;
    cursor: pointer
}

.bx--table-expand-v2__button::-moz-focus-inner {
    border: 0
}

.bx--table-expand-v2__button:focus {
    outline: 1px solid transparent
}

.bx--table-expand-v2__button:focus svg {
    box-shadow: inset 0px 0px 0px 1px #3d70b2
}

.bx--table-expand-v2__svg {
    fill: #5a6872;
    transform: rotate(0deg);
    transition: transform 200ms cubic-bezier(0.5, 0, 0.1, 1);
    height: 16px;
    width: auto;
    max-width: 16px;
    padding: .125rem
}

.bx--table-sort-v2--ascending .bx--table-sort-v2__icon {
    transform: rotate(180deg);
    transition: transform 200ms cubic-bezier(0.5, 0, 0.1, 1)
}

.bx--table-sort-v2--active .bx--table-sort-v2__icon {
    opacity: 1
}

.bx--data-table-v2 th:hover .bx--table-sort-v2__icon {
    opacity: 1
}

.bx--table-sort-v2 {
    font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    display: inline-block;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    font: inherit;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    color: #152935
}

.bx--table-sort-v2::-moz-focus-inner {
    border: 0
}

.bx--table-sort-v2:focus {
    outline: 0
}

.bx--table-sort-v2:focus svg {
    opacity: 1;
    outline: 1px solid #3d70b2;
    fill: #3d70b2;
    outline-offset: -0.5px
}

.bx--table-sort-v2__icon {
    position: relative;
    left: 2px;
    transition: transform 200ms cubic-bezier(0.5, 0, 0.1, 1);
    transform: rotate(0);
    opacity: 0;
    fill: #5a6872;
    height: .5625rem;
    padding: .125rem;
    width: auto;
    min-width: 14px
}

.bx--inline-edit-label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center
}

.bx--inline-edit-label:hover .bx--inline-edit-label__icon {
    opacity: 1
}

.bx--inline-edit-label--inactive {
    display: none
}

.bx--inline-edit-label__action {
    font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    display: inline-block;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    padding: 0;
    cursor: pointer
}

.bx--inline-edit-label__action::-moz-focus-inner {
    border: 0
}

.bx--inline-edit-label__action:hover {
    cursor: pointer
}

.bx--inline-edit-label__action:focus {
    outline: 1px solid #3d70b2;
    padding: .125rem
}

.bx--inline-edit-label__action:focus .bx--inline-edit-label__icon {
    width: auto;
    opacity: 1
}

.bx--inline-edit-label__icon {
    fill: #5a6872;
    opacity: 0
}

.bx--inline-edit-input {
    display: none
}

.bx--inline-edit-input--active {
    display: block;
    margin-left: -.75rem
}

.bx--inline-edit-input--active input {
    padding-left: .75rem
}

.bx--data-table-v2--short input {
    height: 2rem
}

.bx--data-table-v2--short select {
    padding: 0.45rem 2.75rem 0.45rem 1rem
}

.bx--data-table-v2--short .bx--select__arrow {
    top: 0.875rem
}

.bx--data-table-v2.bx--skeleton th {
    border-bottom: 1px solid #3d70b2
}

.bx--data-table-v2.bx--skeleton th:nth-child(3n+1) {
    width: 10%
}

.bx--data-table-v2.bx--skeleton th:nth-child(3n+2) {
    width: 30%
}

.bx--data-table-v2.bx--skeleton th:nth-child(3n+3) {
    width: 15%
}

.bx--data-table-v2.bx--skeleton th span, .bx--data-table-v2.bx--skeleton td span {
    position: relative;
    border: none;
    padding: 0;
    box-shadow: none;
    pointer-events: none;
    background: rgba(61, 112, 178, 0.1);
    width: 75%;
    height: 1rem;
    display: block
}

.bx--data-table-v2.bx--skeleton th span:hover, .bx--data-table-v2.bx--skeleton th span:focus, .bx--data-table-v2.bx--skeleton th span:active, .bx--data-table-v2.bx--skeleton td span:hover, .bx--data-table-v2.bx--skeleton td span:focus, .bx--data-table-v2.bx--skeleton td span:active {
    border: none;
    outline: none;
    cursor: default
}

.bx--data-table-v2.bx--skeleton th span:before, .bx--data-table-v2.bx--skeleton td span:before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    background: rgba(61, 112, 178, 0.1);
    animation: 3000ms ease-in-out skeleton infinite
}

.bx--data-table-v2.bx--skeleton tr:hover td {
    border-color: #8897a2;
    background: transparent
}

.bx--data-table-v2.bx--skeleton tr:hover td:first-of-type, .bx--data-table-v2.bx--skeleton tr:hover td:last-of-type {
    border-color: #8897a2
}

.bx--data-table-v2.bx--skeleton .bx--table-sort-v2 {
    pointer-events: none
}

.bx--data-table-v2 tbody {
    background-color:#ffffff; 
}
.bx--data-table-v2--zebra tbody tr:nth-child(even){
    background-color:#f4f7fb;
}
.bx--data-table-v2 thead{
    background-color:#f4f7fb;
}
.bx--data-table-v2 tr:hover td{
    background-color:#5596e6;
    opacity: 0.1;
}
tr.bx--expandable-row-v2 > td:first-of-type:before{
    background-color:#3d70b2;
}
.bx--data-table-v2 th:first-of-type{
    border-top:#8897a2;
    border-right:#8897a2;
    border-left:#8897a2;
}
.bx--data-table-v2 th:last-of-type{
    border-top:#8897a2;
    border-right:#8897a2;
    border-left:#8897a2;   
}
.bx--data-table-v2 th{
    border-top:#8897a2;
    border-right:#8897a2;
    border-left:#8897a2;
}
.bx--data-table-v2 tr:hover td{
    border:#3d70b2;
}
.bx--responsive-table td{
    color:#152935;
}
.bx--responsive-table th{
    color:#152935;
}
.bx--table-sort-v2 {
    color:#152935;
}
--data-table-v2-header	color{
    color:#152935;
}
.bx--table-sort-v2__icon{
    fill:#5a6872;
} 
.bx--table-expand-v2__svg{
    fill:#5a6872;
} 
.bx--overflow-menu__icon{
    fill:#5a6872;
}	

.bx--data-table-v2-container+.bx--pagination {
    border-top: 0
}

.bx--pagination {
    font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;
    width: 100%;
    background-color: #fff;
    padding: .5rem 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #dfe3e6;
    height: 2.5rem
}

.bx--pagination .bx--form-item {
    -ms-flex: auto;
    flex: auto
}

.bx--pagination__left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.bx--pagination__right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto
}

.bx--pagination__text {
    font-size: 0.75rem;
    color: #5a6872;
    display: none;
    padding-right: .25rem
}

@media (min-width: 530px) {
    .bx--pagination__text {
        display: block
    }
}

.bx--pagination__button-icon {
    height: .75rem;
    width: .75rem;
    fill: #5a6872;
    pointer-events: none;
    transition: 250ms;
    margin-top: .125rem
}

.bx--pagination__button {
    border: none;
    background: none;
    cursor: pointer
}

.bx--pagination__button:hover .bx--pagination__button-icon {
    fill: #3d70b2
}

.bx--pagination__button:focus {
    outline: 1px solid #3d70b2
}

.bx--pagination__button:disabled:hover {
    cursor: default
}

.bx--pagination__button:disabled:hover .bx--pagination__button-icon {
    fill: #5a6872
}

.bx--pagination__button--backward {
    margin-left: 1rem;
    margin-right: 1.5rem
}

.bx--pagination__button--forward {
    margin-left: 1.5rem
}

.bx--pagination__button--no-index {
    border-right: 0;
    margin-right: 1px
}

.bx--pagination .bx--select {
    margin-right: .5rem
}

.bx--pagination .bx--select--inline {
    margin-right: 0;
    width: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center
}

.bx--pagination .bx--select-input {
    height: 1.5rem;
    width: auto;
    padding: 0 1.25rem 0 0;
    margin: 0;
    font-weight: 600;
    text-align-last: center;
    box-shadow: none
}

.bx--pagination .bx--select-input:focus {
    outline: 1px solid #3d70b2
}

.bx--pagination .bx--select--inline .bx--select-input~.bx--select__arrow {
    right: 0.3rem;
    top: 0.625rem
}

.bx--pagination .bx--text-input {
    background-color: #f4f7fb;
    height: 1.5rem;
    min-width: 1.5rem;
    width: 1.5rem;
    padding: 0;
    margin: 0;
    font-weight: 600;
    text-align: center;
    box-shadow: none;
    -ms-flex-order: 0;
    order: 0
}

.bx--pagination .bx--text-input:focus {
    outline: 1px solid #3d70b2
}

.bx--pagination--inline {
    height: 42px;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-right: -1rem
}

.bx--pagination--inline .bx--pagination__button {
    height: 2.5rem;
    border-left: 1px solid #dfe3e6;
    border-right: 1px solid #dfe3e6;
    margin: 0
}

.bx--pagination--inline .bx--pagination__button--forward {
    border-right: 0;
    padding: 0 1rem;
    margin-left: 1rem
}

.bx--pagination--inline .bx--pagination__button--backward {
    margin: 0 1rem;
    padding: 0 1rem
}

.bx--pagination--inline .bx--select__arrow {
    right: 0;
    top: 0.6rem
}

.bx--pagination.bx--skeleton .bx--skeleton__text {
    margin-right: 1rem;
    margin-bottom: 0
}

@keyframes skeleton {
    0% {
        width: 0%;
        left: 0;
        right: auto;
        opacity: 0.3
    }
    20% {
        width: 100%;
        left: 0;
        right: auto;
        opacity: 1
    }
    28% {
        width: 100%;
        left: auto;
        right: 0
    }
    51% {
        width: 0%;
        left: auto;
        right: 0
    }
    58% {
        width: 0%;
        left: auto;
        right: 0
    }
    82% {
        width: 100%;
        left: auto;
        right: 0
    }
    83% {
        width: 100%;
        left: 0;
        right: auto
    }
    96% {
        width: 0%;
        left: 0;
        right: auto
    }
    100% {
        width: 0%;
        left: 0;
        right: auto;
        opacity: 0.3
    }
}

@keyframes skeleton {
    0% {
        width: 0%;
        left: 0;
        right: auto;
        opacity: 0.3
    }
    20% {
        width: 100%;
        left: 0;
        right: auto;
        opacity: 1
    }
    28% {
        width: 100%;
        left: auto;
        right: 0
    }
    51% {
        width: 0%;
        left: auto;
        right: 0
    }
    58% {
        width: 0%;
        left: auto;
        right: 0
    }
    82% {
        width: 100%;
        left: auto;
        right: 0
    }
    83% {
        width: 100%;
        left: 0;
        right: auto
    }
    96% {
        width: 0%;
        left: 0;
        right: auto
    }
    100% {
        width: 0%;
        left: 0;
        right: auto;
        opacity: 0.3
    }
}
